<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="PolitermUsers" connectionString="data source=.\SQLEXPRESS;initial catalog=PolitermUsers;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="CustomBinding" 
                 closeTimeout="00:10:00" 
                 openTimeout="00:10:00" 
                 receiveTimeout="00:10:00" 
                 sendTimeout="00:10:00" 
                 listenBacklog="10" 
                 maxBufferPoolSize="41943040" 
                 maxConnections="10"></binding>
      </netTcpBinding>
      <basicHttpBinding>
        <binding name="HttpBind"
                 closeTimeout="00:10:00"
                 openTimeout="00:10:00"
                 receiveTimeout="00:10:00"
                 sendTimeout="00:10:00"
                 maxBufferPoolSize="41943040"/>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="DataTransferService.DataAccessLayer.DataAccessService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1:7010/IDataAccessContract" />
          </baseAddresses>
        </host>
        <endpoint address="" 
                  binding="netTcpBinding" 
                  bindingConfiguration="CustomBinding" 
                  contract="ContractLibrary.DataTransfer.IDataAccessContract" />
      </service>
      <service name="DataTransferService.SqlData.SqlDataService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1:7010/ISqlProviderContract" />
          </baseAddresses>
        </host>
        <endpoint address="" 
                  binding="netTcpBinding" 
                  bindingConfiguration="CustomBinding" 
                  contract="ContractLibrary.DataTransfer.ISqlProviderContract" />
      </service>
      <service name="DataTransferService.AuthorizationNode.AuthorizationService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1:7010/IAuthorizationContract" />
          </baseAddresses>
        </host>
        <endpoint address="" 
                  binding="netTcpBinding" 
                  bindingConfiguration="CustomBinding" 
                  contract="ContractLibrary.Authorization.IAuthorizationContract" />
      </service>
    </services>
  </system.serviceModel>
</configuration>