<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="DataAccessTcpBinding"
                 closeTimeout="00:10:00"
                 openTimeout="00:10:00"
                 receiveTimeout="00:10:00"
                 sendTimeout="00:10:00"
                 listenBacklog="10"
                 maxBufferPoolSize="41943040"
                 maxReceivedMessageSize="41943040"
                 maxConnections="10">
        </binding>
      </netTcpBinding>
      <basicHttpBinding>
        <binding name="DataAccessHttpBinding"
                 closeTimeout="00:10:00"
                 openTimeout="00:10:00"
                 receiveTimeout="00:10:00"
                 sendTimeout="00:10:00"
                 maxBufferPoolSize="41943040"
                 maxReceivedMessageSize="41943040">

        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!--TCP Endpoints-->
      <endpoint name="AuthServiceTcp"
                address="net.tcp://localhost:7010/IAuthorizationContract"
                binding="netTcpBinding"
                contract="ContractLibrary.Authorization.IAuthorizationContract"/>
      
      <!--Http Endpoints-->
      <endpoint name="AuthServiceHttp"
                address="http://localhost:7010/IAuthorizationContract"
                binding="basicHttpBinding"
                contract="ContractLibrary.Authorization.IAuthorizationContract"/>
    </client>
  </system.serviceModel>
</configuration>